<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Revshop</display-name>
  
  
  <servlet>
    <servlet-name>Product</servlet-name>
    <servlet-class>Controller.ProductRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Single</servlet-name>
    <servlet-class>Controller.Single</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Single</servlet-name>
    <url-pattern>/Single</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Loigin</servlet-name>
    <servlet-class>Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loigin</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Post</servlet-name>
    <servlet-class>Controller.Post</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GlobalServlet</display-name>
  	<servlet-name>GlobalServlet</servlet-name>
  	<servlet-class>com.revshop.controller.GlobalServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ManageUsersServlet</display-name>
  	<servlet-name>ManageUsersServlet</servlet-name>
  	<servlet-class>com.revshop.controller.ManageUsersServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminActionServlet</display-name>
  	<servlet-name>AdminActionServlet</servlet-name>
  	<servlet-class>com.revshop.controller.AdminActionServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminServlet</display-name>
  	<servlet-name>AdminServlet</servlet-name>
  	<servlet-class>com.revshop.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewUsersServlet</display-name>
  	<servlet-name>ViewUsersServlet</servlet-name>
  	<servlet-class>com.revshop.controller.ViewUsersServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewComplaintsServlet</display-name>
  	<servlet-name>ViewComplaintsServlet</servlet-name>
  	<servlet-class>com.revshop.controller.ViewComplaintsServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteComplaintServlet</display-name>
  	<servlet-name>DeleteComplaintServlet</servlet-name>
  	<servlet-class>com.revshop.controller.DeleteComplaintServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewRegistrationRequestsServlet</display-name>
  	<servlet-name>ViewRegistrationRequestsServlet</servlet-name>
  	<servlet-class>com.revshop.controller.ViewRegistrationRequestsServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AcceptRequestServlet</display-name>
  	<servlet-name>AcceptRequestServlet</servlet-name>
  	<servlet-class>com.revshop.controller.AcceptRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BuyerHomepageServlet</display-name>
  	<servlet-name>BuyerHomepageServlet</servlet-name>
  	<servlet-class>com.revshop.controller.BuyerHomepageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CategoryItemsServlet</display-name>
  	<servlet-name>CategoryItemsServlet</servlet-name>
  	<servlet-class>com.revshop.controller.CategoryItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post</servlet-name>
    <url-pattern>/Post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GlobalServlet</servlet-name>
  	<url-pattern>/GlobalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageUsersServlet</servlet-name>
  	<url-pattern>/ManageUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminActionServlet</servlet-name>
  	<url-pattern>/AdminActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewUsersServlet</servlet-name>
  	<url-pattern>/ViewUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewComplaintsServlet</servlet-name>
  	<url-pattern>/ViewComplaintsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteComplaintServlet</servlet-name>
  	<url-pattern>/DeleteComplaintServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewRegistrationRequestsServlet</servlet-name>
  	<url-pattern>/ViewRegistrationRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptRequestServlet</servlet-name>
  	<url-pattern>/AcceptRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuyerHomepageServlet</servlet-name>
  	<url-pattern>/BuyerHomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryItemsServlet</servlet-name>
  	<url-pattern>/CategoryItemsServlet</url-pattern>
  </servlet-mapping>
</web-app>